#home-page-heading {
    background-color: #ff9999;
    text-align: center;
    padding: 8px;
    font-size: 1rem;
}

#released {
    display: flex;
}

#released-movies {
    width: 76%;
    margin: 16px;
}