#header {
    background-color:#222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

#header-logo {
    height: 35px;
    background-color: #ff7f7f;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
     from {
         transform: rotateY(0deg)
     }
     to {
         transform: rotateY(360deg);
     }
}

#btn-grp {
    float: right;
}

#login {
    margin-left: 5px;
}

#logout {
    margin-left: 5px;
}

#signin {
    margin-top: 15px;
}